<!DOCTYPE html>
<html>
  <head>
    <title>React on Rails</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id='content'></div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
